<div class='matches'>    
        
    <% for(var i = 0; i < user.length; i++) { %>
    
        <article class='show active'>
            <form action='/account/<%= user[i]._id %>/like?_method=PUT' method='POST'>
                <fieldset>
                    <!-- check if a user has superliked anyone -->
                    <% if(user[i].liked || user[i].superliked) { %>
                        
                        <!-- if a user has superlikeD == logged in user, show different styling -->
                        <div class='card <% for(var e = 0; e < user[i].superliked.length; e++) { %><%- user[e].superliked == user_logged_in.id ? 'card--superliked' : '' %><% } %>'>
                            <img src='/uploads/<%= user[i].avatar %>'>
                            <div class='card__description'>
                                <h2>
                                    <%= user[i].name %>
                                </h2>
                                <p>
                                    <%= user[i].description %>
                                </p>
                                <a href="/account/<%= user[i]._id %>/"></a>
                            </div>
                        </div>
                    <% } else { %>
                        <!-- if user doesn't have liked or superliked anyone -->
                        <div class='card'>
                            <img src='/uploads/<%= user[i].avatar %>'>
                            <div class='card__description'>
                                <h2>
                                    <%= user[i].name %>
                                </h2>
                                <p>
                                    <%= user[i].description %>
                                </p>
                                <a href="/account/<%= user[i]._id %>/"></a>
                            </div>
                        </div>
                    <% } %>
                    <div class='controls'>
                        <label class='card__btn card__btn--undo card__btn--secundair' for='undo'>
                            <input type='radio' id='undo' name='like'>
                            <span>undo</span>
                            <img src='img/undo.svg' alt='undo icon'>
                        </label>
                        <label class='card__btn card__btn--pass' for='pass'>
                            <input type='radio' id='pass' name='like' value='pass'>
                            <span>pass</span>
                            <img src='img/pass.svg' alt='close icon'>
                        </label>
                        <label class='card__btn card__btn--like' for='like'>
                            <input type='radio' id='like' name='like' value='like'>
                            <span>like</span>
                            <img src='img/like.svg' alt='heart like icon'>
                        </label>
                        <label class='card__btn card__btn--superlike card__btn--secundair' for='superlike'>
                            <input type='radio' id='superlike' name='like' value='superlike'>
                            <span>superlike</span>
                            <img src='img/superlike.svg' alt='crown superlike icon'>
                        </label>
                        <button>Submit</button>
                    </div>
                </fieldset>
            </form>
        </article>
        
    <% } %>
</div>